@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* transition: all; */
    background-color: #F7F1E8 !important;
    /* padding: 0.8rem; */
    /* transition: width 5s ease-in .2s; */
    overflow: hidden;
    height: 100vh;
}

@layer utilities {
  @layer components {
    .transition {
      @apply transition-all delay-200 !duration-1000;
    }
    .card_stylings {
      @apply bg-EveningBlack border border-DarkGray/30 rounded-xl shadow-sm hover:bg-gradient-to-br hover:from-Green/10 hover:to-Black/5;
    }
    .button {
      @apply bg-Green hover:bg-Green/90 transition rounded-xl text-Snow text-base font-medium px-8 py-2 shadow-sm;
    }
    .input_stylings {
      @apply bg-DeepNightBlack text-LightGray text-sm rounded-lg outline-none focus:ring-1 focus:ring-Green block w-full pl-10 p-2.5;
    }

    @font-face {
      font-family: 'cascadia-normal';
      src: url(/public/fonts/Cascadia.ttf);
    }
    @font-face {
      font-family: 'circular-light';
      src: url(/public/fonts/Circular-Light.otf);
    }
    @font-face {
      font-family: 'circular-normal';
      src: url(/public/fonts/Circular-Book.otf);
    }
    @font-face {
      font-family: 'circular-medium';
      src: url(/public/fonts/Circular-Medium.otf);
    }
    @font-face {
      font-family: 'circular-bold';
      src: url(/public/fonts/Circular-Bold.otf);
    }
  }
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }

            /* width */
        ::-webkit-scrollbar {
            width: 5px;
            height: 4px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #6FAE8E; 
            border-radius: 8px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #6FAE8E; 
        }
    }

    .icon {
        animation-name: scale-icon;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
      
      @keyframes scale-icon {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.06);
        }
        100% {
          transform: scale(1);
        }
      }
  }
  /* antd css */
  .ant-progress-text{
    color:white !important
  }
  .ant-modal .ant-modal-content{
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    height: 200px;
  }
  .boxShodow:hover{
    box-shadow: rgba(111,174,142,1) 0px 2px 5px -1px, rgba(111,174,142,1) 0px 1px 3px -1px;
    /* -webkit-box-shadow: 0px 0px 11px -3px rgba(31,223,100,1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(31,223,100,1);
    box-shadow: 0px 0px 11px -3px rgba(31,223,100,1); */

  }


.userIcon:focus-within #icon {
  color: #6FAE8E; /* Change the icon color when the input is focused */
}
.mailIcon:focus-within #icon {
  color: #6FAE8E; /* Change the icon color when the input is focused */
}
.textIcon:focus-within #icon {
  color: #6FAE8E; /* Change the icon color when the input is focused */
}
